CONTRIBUTING.md export-ignore
CHANGELOG.md export-ignore
NEW-FEATURES.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore

* text=auto

*.svg binary
*.SVG binary
*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.mp3 binary
*.MP3 binary
*.mp4 binary
*.MP4 binary
*.mkv binary
*.MKV binary
*.mpeg binary
*.MPEG binary
*.avi binary
*.AVI binary
*.pdf binary
*.PDF binary
*.doc binary
*.DOC binary
*.docx binary
*.DOCX binary
*.odt binary
*.ODT binary
*.rtf binary
*.RTF binary
